========================================Use this file to specify build settings========================================

CommonSourceFiles="main.cpp"

SourceFilesLinux=""

SourceFilesWindows=""

BuildPathLinux="build/linux/main"

BuildPathWindows="build/windows/main.exe" 

CommonArguments="-Wall -Wextra -march=native -static-libgcc -static-libstdc++"

ArgumentsLinux="-std=gnu++17"

ArgumentsWindows="-std=c++17"

CommonLibraries=""

LibrariesLinux=""

LibrariesWindows=""      

RemoveFromBuildDir=""

CopyToBuildDir=""

=======================================================================================================================
