========================================Use this file to specify build settings========================================

CommonArguments="-Wall -Wextra -march=native -static-libgcc -static-libstdc++"

LinuxArguments="-std=gnu++17"

WindowsArguments="-std=c++17"

CommonLibraries=""

LinuxLibraries=""

WindowsLibraries=""         

CopyToBuildFolder=""

=======================================================================================================================
